<!-- about.ejs - Benjamin Lefebvre - 301234587 - Sept 29th  -->
<div class="container-fluid bg-dark text-light p-5">
  <div class="container bg-dark p-5">
    <app-base-page></app-base-page>
    <div class="row">
      <div class="col-md">
        <img
          class="img-profil"
          src="assets/images/benjamin.jpeg"
          alt="photo of benjamin lefebvre"
        />
      </div>
      <div class="col-md">
        <h3>Benjamin Lefebvre</h3>
        <br />
        <p>
          Actively looking for a position in a dynamic team where I can
          contribute my coding skills, work ethic, and dedication to meet and
          exceed expectations. Somewhere I can make a positive contribution and
          grow as a professional. Excellent at multi-tasking daily. <br />
          <br />
          Strong fundamental skills in designing, developing, and deploying
          various kinds of software applications, human-computer interfaces, and
          enterprise information systems <br />
          <br />
          Knowledgeable in rich Internet applications, mobile computing, and
          software security Specializes in object-oriented software design,
          user-oriented interface design, algorithm concepts and data management
          tools <br />
          <br />
          Excellent problem solver with strong debugging skills used to
          troubleshoot issues. <br />
          <br />
          A reliable worker able to maintain a calm and professional demeanour
          under pressure while meeting deadlines <br />
          <br />
          Bilingual in English and French; use strong communication skills to
          support clients and relay technical solutions to coworkers in written
          and oral form.
        </p>
        <br />
        <a href="/resume" class="btn btn-primary" target="_blank">Resume</a>
      </div>
    </div>
  </div>
</div>
