<!-- services.ejs - Benjamin Lefebvre - 301234587 - Sept 29th  -->
<div class="container-fluid bg-dark text-light p-5">
  <div class="container bg-dark p-5">
    <h1 class="display-4">Services</h1>
    <hr />
    <p>By Benjamin Lefebvre</p>
    <div class="text-dark">
      <div class="row">
        <div class="col-md">
          <div class="card h-100">
            <img
              src="/assets/images/frontend.jpg"
              class="card-img-top"
              alt="frontend"
            />
            <div class="card-body">
              <h3>Frontend</h3>
              <p class="card-text">
                HTML, CSS, Bootstrap, JavaScript, jQuery, React, Angular,
                TypeScript, and more.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card h-100">
            <img
              src="/assets/images/database.jpg"
              class="card-img-top"
              alt="backend"
            />
            <div class="card-body">
              <h3>Backend</h3>
              <p class="card-text">
                Node, Python, MongoDB, PL/SQL, Python, C#, Java, Firebase, and
                more.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md">
          <div class="card h-100">
            <img
              src="/assets/images/mobileapp.jpeg"
              class="card-img-top"
              alt="backend"
            />
            <div class="card-body">
              <h3>Mobile App</h3>
              <p class="card-text">Java and Swift</p>
            </div>
          </div>
        </div>

        <div class="col-md">
          <div class="card h-100">
            <img src="/assets/images/ux.jpg" class="card-img-top" alt="ui-ux" />
            <div class="card-body">
              <h3>UI Design</h3>
              <p class="card-text">
                Figma, Affinity Designer, Photoshop, Procreate, and more.
              </p>
            </div>
          </div>
        </div>
      </div>

      <br />
      <div class="d-grid gap-2">
        <a href="/resume" class="btn btn-light">See resume</a>
        <a href="/contact" class="btn btn-primary">Contact me</a>
      </div>
    </div>
  </div>
</div>
