

<!-- home.ejs - Benjamin Lefebvre - 301234587 - Sept 29th  -->
<div class="container-fluid bg-dark text-light p-5">
  <div class="container bg-dark p-5">
    <app-base-page></app-base-page>
    <p>
      Software Engineering student with a diploma in Advertising and Marketing
      Communication.
    </p>
    <p>
      Able to provide you with a complete solution from software production to
      its marketing.
    </p>
    <p>Actively seeking an internship for winter'22</p>
    <p>And before I forget, welcome on my Portfolio!</p>
    <br />
    <a href="/about" class="btn btn-primary">Learn more</a>
  </div>
</div>
